@font-face {
    font-family: "readex_pro";
    src: url('../fonts/readexpro-variable.ttf') format('truetype'), url('../fonts/readexpro.woff2') format('woff2');
    font-weight: 0 800;
    font-style: normal;
}
@font-face {
    font-family: "work_sans";
    src:   
    url('../fonts/worksans-variable.ttf') format('truetype');
    /* url('../fonts/worksans-variable.woff2') format('woff2'),
    url('../fonts/worksans-italic-variable.woff2') format('woff2'),
    url('../fonts/worksans-italic-variable.ttf') format('truetype'); */
    font-weight: 0 1000;
    font-style: italic, normal; 
}


html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    --text-link-before: #005C46;
    --main-background: #DDFFFD;
    --footer-background: #0D403C;
    --button-color: #0D403C;
    --case-study: #165954;
    --font-header: readex_pro, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-primary: work_sans, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    --project-1-highlight: #004A80;
    --project-2-highlight: #AF0B42;
    --project-3-highlight: #529797;
    --project-4-highlight: #4B5A2B;
}

* {
    box-sizing: border-box;
}

.project-wrapper {
    width: 100%;
    /* max-width: 300 px; */
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
body {
    background-color: var(--main-background);
    
}
main {
    background-color: var(--main-background);
    
}
p {
    color: var(--primary-text);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 200;
    margin: 1.5rem auto;
    max-width: 100%;
    line-height: 1.563rem;
    text-align: pretty;
}

b {
    font-weight: 700;
}
li {
    line-height: 1.563rem;
}

a, li {
    font-family: var(--font-primary);
}

/* !!!!!!! HEADERS !!!!!!!*/
h1, h2, h3 {
    color: var(--primary-text);
    font-family: var(--font-header);
    font-weight: 700;
    max-width: 100%;
}
h1 {
    font-size: 2rem;
    line-height: 3rem;
}
h2 {
    font-size: 1.625rem;
    line-height: 2.063rem;
}
h2+p {
    margin-top: .5rem;
}
h3 {
    font-size: 1.125rem;
    margin: 0 auto;
    line-height: 1.5rem;
}
h4 {
    color: var(--primary-text);
    font-family: var(--font-header);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    max-width: 100%;
    margin: 0 auto;
}


.project_header {
    margin: 3.5rem auto 0.938rem auto;
}

/* !!!!!!! BUTTONS !!!!!!!*/

.button-resume, .button-project, .button-resume-header {
    background-color: var(--button-color);
    color: var(--secondary-text);
    padding: 17px 20px;
    border: none;
    border-radius: 53px;
    cursor: pointer;
    margin: .5rem .5rem;
}


/* NAVIGATION */
.nav-list{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    font-weight: 500;
    gap: 2.375rem;
    list-style: none;
    padding: 50px;
    margin-bottom: 50px;
}
.nav-list-item {
    margin: 0 10px;
}

li > a {
    color: var(--primary-text);
    font-family: var(--font-header);
    text-decoration: none;
}



label .menu {
    border: 2px solid var(--main-background);
    cursor: pointer;
    position: fixed;
    right: 36px;
    top: 16px;
    width: 50px;
    height: 46px;
    background: var(--footer-background);
    border-radius: 0 0 0 50%;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    box-shadow: 0 0 0 0 var(--main-background), 0 0 0 0 var(--main-background);
    z-index: 1010;
    
}

label .hamburger {
    position: fixed;
    top: 4.3%;
    left: 83%;
    width: 26px;
    height: 2px;
    background: var(--main-background);
    display: block;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    z-index: 1020;
}

label .hamburger:after, label .hamburger:before {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--main-background);
    z-index: 1020;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
    box-shadow: 0 0 0 100vw var(--footer-background), 0 0 0 100vh var(--footer-background);
    border-radius: 0;
    
}

label input:checked + .menu .hamburger {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    
}

label input:checked + .menu .hamburger:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    bottom: 0;
    
}

label input:checked + .menu .hamburger:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
    
}

label input:checked + .menu + ol { opacity: 1; }

label ol {
    z-index: 1020;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    -webkit-transition: .25s 0s ease-in-out;
    transition: .25s 0s ease-in-out;
}

label a {
    margin-bottom: 1em;
    display: block;
    color: var(--secondary-text);
    text-decoration: none;
    
}
@media (max-width: 250px) {
    label .menu {
        right: 5%; 
    }

    label .hamburger {
        left: 90%;
    }
}

.button-text {
    color: var(--secondary-text);
    font-family: var(--font-primary);
    text-decoration: none;
}
.michoacana-buttons {
    margin-top: 1.5rem;
}
.button-resume-footer {
    background-color: var(--button-color);
    padding: 17px 20px;
    border: none;
    border-radius: 53px;
    cursor: pointer;
    margin: 2rem .5rem .5rem .5rem;
}
.button-text-footer {
    font-size: 1rem;
    color: var(--secondary-text);
    text-decoration: none;
}


/* !!!!!!! IMAGES !!!!!!!*/

.logo {
    border: 1.5px solid var(--main-background);
    border-radius: 10px;
    background-color: var(--footer-background);
    width: 54px;
    height: 50px;
    position: fixed;
    top: 20px;
    left: 36.7px;
    height: auto;
    cursor: pointer;
    padding: .3rem .1rem;
    z-index: 1000;
}

.rounded-image {
    display: block;
    max-width: 100%; /* Makes the image responsive */
    height: auto;    /* Ensure aspect ratio is maintained */
    margin: 1rem auto;       
    border-radius: 14px; 
}

.index-grass img {
    margin: 0;
    padding: 0; 
    transform: translateX(-.5rem);
    scale: 100%;
    width: 100%
    
}


.index-image-project1 {
    /* width: auto; */
    /* max-width: 400px; */
    width: auto;
    height: 122px;
    margin-left: -32px;
    margin-bottom: -22px;
}
@media (max-width: 385px) {
    .index-image-project1 {
        height: 137px;
        margin-left: -91px; 
        margin-bottom: 68px;
        transform: translateX(50%);
    }
}



/* !!!!!!! !!!!!!! PROJECT 2 MICHOACANA IMAGES !!!!!!! !!!!!!! */
.index-images-project2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    
    /* max-width: 40%; */
    
}
@media (max-width: 385px) {
    .index-images-project2 {
        height: 15%; 
        transform: translateX(-9%);
        margin-left: 9px;
    }
}
@media (max-width: 375px) {
    .index-images-project2 {
        height: 15%; 
        transform: translateX(-9%);
        margin-left: -6px;
    }
}

.index-images-project2 img {
    margin-right: 0; 
}
.index-project2-desktop {
    /* width: 100%; */
    max-width: 176px;
    transform: rotate(2.235deg);
    margin-right: 10px;

    height: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

.index-project2-mobile {
    /* width: 100%; */
    max-width: 71px;
    transform: rotate(-7.377deg);
    margin-right: 10px;
    position: relative;
    bottom: 5px;

    height: auto;
    padding-left: .5rem;
    padding-right: .5rem;

}
.index-project2-tablet {
    /* width: 100%; */
    max-width: 100px;
    transform: rotate(-0.137deg);
    margin-right: 10px;

    height: auto;
    padding-left: .5rem;
    padding-right: .5rem;
}

/* !!!!!!! !!!!!!! PROJECT 3 INKLING IMAGES !!!!!!! !!!!!!! */
.index-images-project3 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 25%;
    position: relative;
    left: 108px;
    margin-bottom: -61px;
    z-index: 160; 
}
@media (max-width: 360px) {
    .index-images-project3 {
        max-width: 33%;
        margin-bottom: 31px; 
        margin-left: -96px;
    }
}
.index-project3-mobile1 {
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.index-project3-mobile2 {
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.index-project3-mobile3 {
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.index-images-project3 img {
    margin-right: -8px; 
}


/* !!!!!!! !!!!!!! PROJECT 4 BEST FRONDS IMAGES !!!!!!! !!!!!!! */
.index-images-project4 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 25%;
    position: relative;
    margin-left: -22px;
    z-index: 160;
}
@media (max-width: 360px) {
    .index-images-project4 {
        max-width: 33%;
        margin-bottom: 95px; 
        transform: translateX(35%);
    }
}

.index-images-project4 img {
    /* lessens space btwn project4 mobile images */
    margin-right: -8px; 
}

.icon-44 {
    width: 44px;
    height: 44px;
}
.icon-34-42 {
    width: 42.5px;
    height: 34px;
}
.icon-43-45 {
    width: 45.01px;
    height: 43px;
}



/* !!!!!!!! HOMEPAGE !!!!!!! */
.index-intro-blurb {
    text-align: center;
    text-wrap: pretty;
    margin: 2.75rem auto 3.75rem auto;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 17.125rem;
    height: 2.4375rem;
    flex-shrink: 0;
}

.index-title-name {
    font-family: var(--font-header);
    margin: 10.625rem auto 2.75rem auto;
    text-align: center;
    
    /* 
    letter-spacing: 3.5%; */

    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.07rem;
}

.index-title-projects {
    margin: 2rem auto 5.625rem auto;
    text-align: center;
}
.project-blurb {
    margin: 1rem auto;
    width: 100%;
    max-width: 500px;
    
    /* height: 50vh;  */
}
/* .case-study-title+.case-study-text {
    margin: 1.5rem auto;
} */


.blurb {
    z-index: 200;
    margin-bottom: -27px;
}

.blurb:nth-child(2) {
    margin-bottom: -10px; 
    z-index: 210;
}

.blurb:nth-child(3) {
    margin-bottom: -75px;
}

.blurb:nth-child(4) {
    margin-bottom: -127px;
    z-index: 210;
}


.case-study-title {
    color: var(--secondary-text);
    position: relative;
    z-index: 140;
}

.case-study-title1 {
    margin-left: 218px; 
    margin-top: -38px; 
    margin-bottom: -38px;
    padding-top: 47px;
}
@media (max-width: 390px) {
    .case-study-title1 {
        margin-left: 193px; 
    }
}
@media (max-width: 385px) {
    .case-study-title1 {
        margin-left: 159px; 
    }
}
@media (max-width: 360px) {
    .case-study-title1 {
        margin-left: 138px; 
    }
}

.case-study-title2 {
    top: 69px;
    left: 23px;
}
.case-study-title3 {
    margin-left: 23px; 
    margin-top: -247px; 
    margin-bottom: 236px;
    padding-top: 47px;
}
.case-study-title4 {
    margin-left: 221px; 
    margin-top: -136px; 
    margin-bottom: -107px;
    padding-top: 116px;
}
@media (max-width: 390px) {
    .case-study-title4 {
        margin-left: 193px; 
    }
}
@media (max-width: 385px) {
    .case-study-title4 {
        margin-left: 159px; 
    }
}

.lilypad-1 {
    /* width: 13.377rem; */
    height: 8.5rem;  
    margin-bottom: -199px;
    margin-left: 179px;
    position: relative; 
    top: -125px; 
    z-index: 110; 
}

@media (max-width: 390px) {
    .lilypad-1 {
        margin-left: 156px; 
    }
}
@media (max-width: 385px) {
    .lilypad-1 {
        margin-left: 121px; 
    }
}
@media (max-width: 375px) {
    .lilypad-1 {
        margin-left: 100px; 
    }
}
.lilypad-2 {
    height: 9.5rem;
    width: 13rem;
    
    margin-bottom: 90px;
    margin-left: -23px;
    position: relative; 
    top: -22px; 
    z-index: 110;
}
.lilypad-3 {
    height: 9rem;
    margin-bottom: 90px;
    margin-left: -23px;
    position: relative; 
    top: -22px; 
    z-index: 110;
}
.lilypad-4 {
    height: 9rem;
    margin-bottom: 163px;
    margin-left: 176px;
    position: relative; 
    top: 14px; 
    z-index: 110;
}
@media (max-width: 390px) {
    .lilypad-4 {
        margin-left: 156px; 
    }
}
@media (max-width: 385px) {
    .lilypad-4 {
        margin-left: 121px; 
    }
}
.case-study-text1 {
    color: var(--secondary-text);
    background-color: var(--case-study);
    border: none;
    border-radius: 14px;
    margin: 1.5rem auto .813rem auto;
    padding: .5rem 1rem .5rem 1rem;
    position: relative;
    z-index: 150;
}
.case-study-text2 {
    color: var(--secondary-text);
    background-color: var(--case-study);
    border: none;
    border-radius: 14px;
    margin: 1.5rem auto .813rem auto;
    padding: .5rem 1rem .5rem 1rem;
    z-index: 150;
    position: relative;
    bottom: 195px;

}
.case-study-text3 {
    color: var(--secondary-text);
    background-color: var(--case-study);
    border: none;
    border-radius: 14px;
    margin: 1.5rem auto .813rem auto;
    padding: .5rem 1rem .5rem 1rem;
    z-index: 150;
    position: relative;
    bottom: 225px;
}
.case-study-text4 {
    color: var(--secondary-text);
    background-color: var(--case-study);
    border: none;
    border-radius: 14px;
    margin: 1.5rem auto .813rem auto;
    padding: .5rem 1rem .5rem 1rem;

    z-index: 150;
    position: relative;
    bottom: 220px;

}

/* button .leaf {
    position: absolute;
    margin-left: 125px;
    margin-bottom: 20px;
    z-index: 120;

    
    width: 10vw;
    
}
 */
.button-text-case-study + .leaf {
    margin-left: -32px; /* Adjusted margin to 13px */
    margin-bottom: -12px;
}
.leaf {
    position: absolute;
    bottom: 18px; /* Adjusted bottom margin */
    z-index: 120;
    width: 10vw;
}
.button-text-case-study {
    font-size: 1rem;
    text-decoration: none;
    color: var(--secondary-text);
    /* padding: 1.125rem; */
    padding-right: 20px;
    margin-right: 25px;
}
p+.button-case-study {
    margin-top: 0;
}
.button-case-study {
    position: relative; /* Added this to make the positioning relative to the button */
    background-color: var(--button-color);
    color: var(--secondary-text);
    padding: 21px 20px 21px 20px;
    border: none;
    border-radius: 53px;
    cursor: pointer;
    margin: .5rem .5rem;
}
.button-case-study1 {
    margin-bottom: 140px;
}
.button-case-study2 {
    position: relative;
    bottom: 195px;
}

.button-case-study3 {
    position: relative;
    bottom: 225px;
}
.button-case-study4 {
    position: relative;
    bottom: 220px;
}


a:active {
    color: var(--primary-text); 
}

a {
    color: var(--text-link-before);
}

.resume_link {
    color: var(--secondary-text);
    margin-top: 40px;
}

footer {
    background-color: var(--case-study);
    color: var(--secondary-text);
    text-align: center; 
    padding: 1.75px; /* 28 px, adds space around  icons and resume link */
    margin-top: 4.125rem;
    
}

footer .footer_icons {
    margin-top: 1.75rem;
    margin-bottom: 2rem;
    

}
.footer_icons {
    padding-bottom: 1rem;
}
.footer_icons img {
    margin-right: 1rem; 
}



/* 
a:hover {
    background-color: #fff;
    color: #333;
} */





.project-highlighted {
    color: var(--secondary-text);
    border: none;
    border-radius: 14px;
    margin-top: 1.5rem;
    padding: .5rem 1rem .5rem 1rem;
}

.project-highlighted-text {
    color: var(--secondary-text);
    font-family: var(--font-primary);
}

.project1-highlighted {
    background-color: var(--project-1-highlight);
}

.project2-highlighted {
    background-color: var(--project-2-highlight);
}

.project3-highlighted {
    background-color: var(--project-3-highlight);
}

.project4-highlighted {
    background-color: var(--project-4-highlight);
}

.inkling-cover {
    border: 1.5px solid var(--project-3-highlight);
    border-radius: 25px; 
    margin-top: 4.9rem;
}
.michoacana-cover {
    border-radius: 25px; 
    margin-top: 4.9rem;
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.best-fronds-cover {
    border-radius: 25px; 
    margin-top: 4.9rem;
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.phillyreach-cover {
    border-radius: 25px; 
    margin-top: 4.9rem;
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}


/* PROJECTS RULES */
.projects-title {
    margin: 8rem auto 5rem auto;
    text-align: center;
}


/* CREATIVE RULES */

.creative-wrapper {
    width: 100%;
    max-width: 396px;
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.creative-title {
    margin-top: 8rem;
}
.creative-title+.creative-title-desc {
    margin-bottom: 3rem;
}
.creative-img {
    display: block;
    max-width: 100%; 
    height: auto;    
    margin: 3.5rem 0 1rem 0;       
    border-radius: 14px; 
}
figcaption {
    font-family: var(--font-primary);
    font-size: .813rem; /* 13 px */
    font-weight: 600; /* semi-bold */
    margin-top: 10px; 
    margin-bottom: 1.5rem;
    text-align: center;
}
img+figcaption {
    margin-top: 10px;
}

/* !!!!!!! ABOUT RULES !!!!!!! */

.about-title {
    margin: 8rem auto 2rem auto;
}
.about-paragraphs {
    margin-bottom: 2rem;
}

/* !!!!!!! RESUME RULES !!!!!!!*/

.button-resume-header {
    margin-top: 8rem;
}

.button-resume {
    margin-top: 1rem;
    margin-bottom: 10rem;
}

.resume-title-name {
    margin-top: 3rem;
    margin-bottom: .1rem;
}

.resume-title-name+.resume-links {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3+.line-break-light {
    margin-top: .5rem;
}

.line-break {
    border: none; 
    border-top: 3px solid var(--primary-text); 
    margin: 10px 0;
}

.line-break-light {
    border: none; 
    border-top: 2px solid var(--footer-background);
}

.resume-job-title {
    border: 1.5px solid black;
    padding-left: .625rem;
    padding-right: .625rem;
    margin: 1.5rem auto;
}

/* .lists-container {

    
}

.bullet-list {
    
}

.bullet-list li {
    /* margin-bottom: 5px; Add space between list items 
} */
