@font-face {
    font-family: "readex_pro";
    src: url('../fonts/readexpro-variable.ttf') format('truetype'), url('../fonts/readexpro.woff2') format('woff2');
    font-weight: 0 800;
    font-style: normal;
}
@font-face {
    font-family: "work_sansitalic";
    src: url('../fonts/worksans-italic-variable.woff2') format('woff2'),
    url('../fonts/worksans-italic-variable.ttf') format('truetype');
    font-weight: 0 900;
    font-style: normal;

}
@font-face {
    font-family: "work_sansregular";
    src: url('../fonts/worksans-variable.woff2') format('woff2'),
    url('../fonts/worksans-variable.ttf') format('truetype');
    font-weight: 0 900;
    font-style: normal;
}

html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    --text-link-before: #005C46;
    --main-background: #DDFFFD;
    --footer-background: #0D403C;
    --button-color: #0D403C;
    --case-study: #165954;
    --font-header: readex_pro, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-primary: work_sansregular, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-primary-italic: work_sansitalic, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    --project-1-highlight: #004A80;
    --project-2-highlight: #AF0B42;
    --project-3-highlight: #529797;
    --project-4-highlight: #4B5A2B;
}

* {
    box-sizing: border-box;
}

.project-wrapper {
    width: 100%;
    max-width: 300 px;
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
body {
    background-color: var(--main-background);
    
}
main {
    background-color: var(--main-background);
    
}
p {
    color: var(--primary-text);
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 400;
    margin: .5rem  auto;
    max-width: 100%;
    line-height: 1.563rem;
}
li {
    line-height: 1.563rem;
}

a, li {
    font-family: var(--font-primary);
}

/* !!!!!!! HEADERS !!!!!!!*/
h1, h2, h3 {
    color: var(--primary-text);
    font-family: var(--font-header);
    font-weight: 700;
    max-width: 100%;
}
h1 {
    font-size: 2rem;
    line-height: 3rem;
}
h2 {
    font-size: 1.625rem;
    line-height: 2.063rem;
}
h2+p {
    margin-top: .5rem;
}
h3 {
    font-size: 1.125rem;
    margin: 0 auto;
    line-height: 1.5rem;
}
h4 {
    color: var(--primary-text);
    font-family: var(--font-header);
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.625rem;
    max-width: 100%;
    margin: 0 auto;
}


/* .project_header {

} */

/* !!!!!!! BUTTONS !!!!!!!*/
button {
    background-color: var(--button-color);
    color: var(--secondary-text);
    padding: 17px 20px;
    border: none;
    border-radius: 53px;
    cursor: pointer;
    margin: .5rem .5rem;
}
.button-text {
    color: var(--secondary-text);
    font-family: var(--font-primary);
    text-decoration: none;
}
.michoacana-buttons {
    margin-top: 1.5rem;
}
.button-resume-footer {
    background-color: var(--button-color);
    padding: 17px 20px;
    border: none;
    border-radius: 53px;
    cursor: pointer;
    margin: 2rem .5rem .5rem .5rem;
}
.button-text-footer {
    font-size: 1rem;
    color: var(--secondary-text);
    text-decoration: none;
}
p+.button-case-study {
    margin-top: 0;
}
.button-text-case-study {
    font-size: 1rem;
    text-decoration: none;
    color: var(--secondary-text);
    padding: 1.125rem;
}

/* !!!!!!! IMAGES !!!!!!!*/
img {
    height: auto;
    max-width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
}
.rounded-image {
    display: block;
    max-width: 100%; /* Makes the image responsive */
    height: auto;    /* Ensure aspect ratio is maintained */
    margin: 1rem auto;       
    border-radius: 14px; 
}

img.index-grass {
    margin: 0;
    padding: 0; 
}
.index-project1-image {
    max-width: 50%;
}
.index-project2-desktop {
    max-width: 100%;
}
.index-images-project2 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 40%;
}
.index-project2-mobile {
    max-width: 60%;
}
.index-project2-tablet {
    max-width: 90%;
}
.index-images-project3 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 30%;
}
.index-images-project4 {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    max-width: 30%;
}
.icon-44 {
    width: 44px;
    height: 44px;
}
.icon-34-42 {
    width: 42.5px;
    height: 34px;
}
.icon-43-45 {
    width: 45.01px;
    height: 43px;
}



/* !!!!!!!! HOMEPAGE !!!!!!! */
.index-intro-blurb {
    text-align: center;
    text-wrap: pretty;
    margin: 2.75rem auto 3.75rem auto;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 17.125rem;
    height: 2.4375rem;
    flex-shrink: 0;
}

.index-title-name {
    font-family: var(--font-header);
    margin: 10.625rem auto 2.75rem auto;
    text-align: center;
    
    /* 
    letter-spacing: 3.5%; */

    font-size: 2rem;
    /* font-style: normal; */
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.07rem;
}

.index-title-projects {
    margin: 2rem auto 5.625rem auto;
    text-align: center;
}
.project-blurb {
    margin: 6rem auto;
}
.case-study-title {
    margin-top: .5rem;
}
.case-study-text {
    color: var(--secondary-text);
    background-color: var(--case-study);
    border: none;
    border-radius: 14px;
    margin: 1.5rem auto .875rem auto;
    padding: .5rem 1rem .5rem 1rem;
}
.case-study-title+.case-study-text {
    margin: 1.5rem auto;
}



a:active {
    color: var(--primary-text); 
}

a {
    color: var(--text-link-before);
}

.resume_link {
    color: var(--secondary-text);
    margin-top: 40px;
}

footer {
    background-color: var(--case-study);
    color: var(--secondary-text);
    text-align: center; 
    padding: 1.75px; /* 28 px, adds space around  icons and resume link */
    margin-top: 4.125rem;
}

footer .footer_icons {
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}
.footer_icons {
    padding-bottom: 1rem;
}



/* 
a:hover {
    background-color: #fff;
    color: #333;
} */

/* NAVIGATION */
nav {
    text-align: center;
}
.nav-list{
    display: inline-flex;
    flex-direction: column;
    font-weight: 500;
    gap: 2.375rem;
    list-style: none;
    padding: 0;
}
.nav-list-item {
    margin: 0 10px;
}

li > a {
    color: var(--primary-text);
    font-family: var(--font-header);
    text-decoration: none;
}



.project-text-highlighted {
    color: var(--secondary-text);
}


.project-content-highlighted {
    color: var(--secondary-text);
    border: none;
    border-radius: 14px;
    margin-top: 1.5rem;
    padding: .5rem 1rem .5rem 1rem;
}

.project-text-highlighted {
    font-family: var(--font-primary);
}

#project1_highlighted {
    background-color: var(--project-1-highlight);
}

#project2_highlighted {
    background-color: var(--project-2-highlight);
}

#project3_highlighted {
    background-color: var(--project-3-highlight);
}

#project4_highlighted1 {
    background-color: var(--project-4-highlight);
}

#project4_highlighted2 {
    background-color: var(--project-4-highlight);
}

#project4_highlighted3 {
    background-color: var(--project-4-highlight);
}

.inkling-cover {
    border: 1.5px solid var(--project-3-highlight);
}


/* PROJECTS RULES */
.projects-title {
    margin: 8rem auto 1.349rem auto;
    text-align: center;
}


/* CREATIVE RULES */

.creative-wrapper {
    width: 100%;
    max-width: 300 px;
    margin: 0 auto;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
}
.creative-title {
    margin-top: 8rem;
}
.creative-title+.creative-title-desc {
    margin-bottom: 3rem;
}
figcaption {
    font-family: var(--font-primary);
    font-size: .813rem; /* 13 px */
    font-weight: 600; /* semi-bold */
    margin-top: 10px; 
    margin-bottom: 1.5rem;
    text-align: center;
}
img+figcaption {
    margin-top: 10px;
}

/* !!!!!!! ABOUT RULES !!!!!!! */

.about-title {
    margin: 8rem auto 2rem auto;
}
.about-paragraphs {
    margin-bottom: 2rem;
}

/* !!!!!!! RESUME RULES !!!!!!!*/

.button-resume {
    margin-top: 3rem;
}

.resume-title-name {
    margin-top: 3rem;
    margin-bottom: .1rem;
}

.resume-title-name+.resume-links {
    margin-top: 0;
    margin-bottom: 1rem;
}

h3+.line-break-light {
    margin-top: .5rem;
}

.line-break {
    border: none; 
    border-top: 3px solid var(--primary-text); 
    margin: 10px 0;
}

.line-break-light {
    border: none; 
    border-top: 2px solid var(--footer-background);
}

.resume-job-title {
    border: 1.5px solid black;
    padding-left: .625rem;
    padding-right: .625rem;
    margin: 1.5rem auto;
}

/* .lists-container {

    
}

.bullet-list {
    
}

.bullet-list li {
    /* margin-bottom: 5px; Add space between list items 
} */
