
@font-face {
    font-family: "readex_pro";
    src: url("/fonts/readexpro.woff2") format("woff2"),
    url("/fonts/readexpro.ttf") format("truetype");
    font-weight: 0 700;
    font-style: normal;
}


@font-face {
    font-family: "work_sansitalic";
    src: url('worksans-italic-variable.woff2') format('woff2'),
    url('worksans-italic-variable.ttf') format('truetype');
    font-weight: 0 900;
    font-style: normal;

}




@font-face {
    font-family: "work_sansregular";
    src: url('worksans-variable.woff2') format('woff2'),
    url('worksans-variable.ttf') format('truetype');
    font-weight: 0 900;
    font-style: normal;

}

html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    --main-background: #DDFFFD;
    --footer-background: #0D403C;
    --button-color: #0D403C;
    --font-header: "readex_pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-primary: "work_sansregular", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-primary-italic: "work_sansitalic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
}

body {
    background-color: var(--main-background);
    
}

main {
    background-color: var(--main-background);
    
}

p {
    color: var(--primary-text);
    font-family: var(--font-primary)
}

a, li {
    font-family: var(--font-primary)
}

footer {
    color: var(--footer-background);
}

h1, h2, h3 {
    color: var(--primary-text);
    font-family: var(--font-header);
}