
@font-face {
    font-family: "readex_pro";
    src: url('../fonts/readexpro.woff2') format('woff2'),
    url('../fonts/readexpro.ttf') format('truetype');
    font-weight: 0 700;
    font-style: normal;
}


@font-face {
    font-family: "work_sansitalic";
    src: url('../fonts/worksans-italic-variable.woff2') format('woff2'),
    url('../fonts/worksans-italic-variable.ttf') format('truetype');
    font-weight: 0 900;
    font-style: normal;

}




@font-face {
    font-family: "work_sansregular";
    src: url('worksans-variable.woff2') format('woff2'),
    url('worksans-variable.ttf') format('truetype');
    font-weight: 0 900;
    font-style: normal;

}

html {
    --primary-text: #08201E;
    --secondary-text: #ffffff;
    --main-background: #DDFFFD;
    --footer-background: #0D403C;
    --button-color: #0D403C;
    --font-header: "readex_pro", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    --font-primary: "work_sansregular", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    --font-primary-italic: "work_sansitalic", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    
    --project-1-highlight: #004A80;
    --project-2-highlight: #AF0B42;
    --project-3-highlight: #529797;
    --project-4-highlight: #4B5A2B;
}

body {
    background-color: var(--main-background);
    
}

.project-wrapper {
    width: 100%;
    max-width: 300 px;

    margin: 0 auto;
}

.project_header {

}


img {
    height: auto;
    width: 100%;
}

.icon-44 {
    width: 44px;
    height: 44px;
}

.icon-34-42 {
    width: 42.5px;
    height: 34px;
}

.icon-43-45 {
    width: 45.01px;
    height: 43px;
}


main {
    background-color: var(--main-background);
    
}

p {
    color: var(--primary-text);
    font-family: var(--font-primary);
}

a, li {
    font-family: var(--font-primary);
}

.resume_link {
    color: var(--secondary-text);
}
footer {
    background-color: var(--footer-background);
    color: var(--secondary-text);
}

h1, h2, h3 {
    color: var(--primary-text);
    font-family: var(--font-header);
    font-weight: bolder;
    /* change bold value */
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.625rem;
}

h3 {
    font-size: 1.125rem;
}

.project-content-highlighted {
    color: var(--secondary-text);
}

#project1_highlighted {
    background-color: var(--project-1-highlight);
}

#project2_highlighted {
    background-color: var(--project-2-highlight);
}

#project3_highlighted {
    background-color: var(--project-3-highlight);
}

#project4_highlighted1 {
    background-color: var(--project-4-highlight);
}

#project4_highlighted2 {
    background-color: var(--project-4-highlight);
}

#project4_highlighted3 {
    background-color: var(--project-4-highlight);
}